<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer pagina Web</title>
    <link href="assets/css/estilo.css" rel="stylesheet" >
</head>
<body>
    
    <h1> Bienvenido al taller de programacion</h1>
    <p>Hoy solo practico de configuracion </p>

    <div style="color: blue;">
        <h2> Ejemplo de div y span </h2>
        <p>
         Esto es un párrafo dentro de un div,
        <span style="color: red;"> y esto un span dentro de un
        párrafo.</span>
        </p>
        </div>

</body>
</html>